<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assets/logo/logo_red.svg">
    <script type="module" src="/js/main.js" defer></script>
  </head>
  <body class="{{ bodyClass }}">
    <header>
      <nav>
        <div class="nav-bar">
          <div class="nav-logo">
            <a href="/" style="visibility: visible;">
              <img src="/assets/logo/logo_red.svg" alt="Logo" class="logo" width="48" height="48">
              <h1>SHKAF</h1>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main class="login-page">
      <form action="/login" method="POST" class="login-form">
        <h2 class="login-title">login</h2>

        <label for="name" class="visually-hidden">name</label>
        <input type="text" id="name" name="name" placeholder="name" required>

        <label for="email" class="visually-hidden">email</label>
        <input type="email" id="email" name="email" placeholder="email" required>

        <button class="submit login" type="submit">ENTER</button>
      </form>
    </main>

    <button class="btn-theme-change" role="button"></button>
  </body>
</html>
